h1
{

  font-variant: small-caps;
  margin-left:8cm;
  color:green;
}

body{
 background-image: repeating-radial-gradient(white,gray,rgb(114, 151, 114),grey);
 
 padding: 3%;

}

#bu{
    color:black;
    font-style: initial;
    font-size:60%;
    background-color:rgb(240, 73, 6);
}
.pictures
{
margin-top: 5%;
}
.button
{
    background-color:yellowgreen;
    border-radius: 2%;
padding:1%;
font-size:20px;
margin:4px;
}

h2
{
    font-size: 14px;
}
h3
{
    font-size:14px;
}
h4{
    font-size: 14px;
}
h5{
    font-size: 14px;
}

p
{

    color: blanchedalmond;
  font-size: 12px;
    
    
}
.btn{
margin-top: 5%;
}
.btn1
{
    margin-left: 4cm;
    margin-top: -1.5cm;
    word-spacing: 0em;
}
.btn2
{
    margin-left: 7.5cm;
    margin-top: -2.3cm;
}

.comment
{
    margin-bottom: 50px;
    margin-top: 1cm;
    color:black;
    font-style: oblique;   
}
.hhh
{
    position: absolute;
    background-color: orange-medium;
     transform:rotate(10deg);
     padding: 5px 10px;
     top: 15px;
     left: auto;
     width: 130px;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: 600;
     text-align: center;

}
#us
{
    margin-left: 20cm;
    font-style: oblique;
    border-radius: 150cm;
    position:absolute;
    width: 130px;
    color: yellow;
}
.buttons
{
padding-left: 1%;
font-size:20px;
margin-left: 40%;
margin-top: 0px;
}

#bb
{
    display: block;
    width: 90%;
    background-color: rgba(19, 46, 15, 0);
    padding: 14px;
    border-radius: 25%;
    font-style: italic;
    font-size: 1cm;
   font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    text-align: center;
}