body{
    background-image: url("Guest-House-Success-Ultimate-Guest-Checklist.jpg");
    border:black;
    border-style: double;
    border-radius: 2%;
}
h1{
    font-size: 100%;
}
.Rbuttons
{

box-shadow: 0 6px 6px rgba(0,0,0,0.6);
background-color: transparent;
color:black;
font-weight: bolder;
}
#form
{
    color: black;
  background-color: transparent;
    margin:1cm 4cm 1cm 0cm;
   
}

.bx
{
    scroll-margin-block-start: 2cm;
    border-radius: 1cm;
    border: black;
    color: gray;
}
.button
{
    border-radius: 2cm;
    size:50px;
    margin-left: 4cm;
    margin-top: 0.2cm;
}
.all
{
    box-shadow: 0 6px 6px rgba(0,0,0,0.6);
    background-color: transparent;
    color:black;
    padding: 5px;
    font-weight: bolder;

}
#id
{
   background-color:transparent;
   padding: 0.2cm;
 
}
#id1
{
    margin-left: 15cm;
    margin-top: 0cm;
    margin-bottom: 15cm;
}
#contact
{
    background-image: radial-gradient(white,grey);
}

#room1
{
    margin:0cm 1cm 0cm 1cm;
    padding: 2%;
background-color: cornsilk;
}
#room2
{
    margin:0cm 1cm 0cm 1cm;
    padding: 2%;
background-color: grey;
}
#room3
{
    border-radius: 2%;
    margin:0cm 1cm 0cm 1cm;
    padding: 2%;
background-color:cornsilk;
}
#room4
{
    margin:0cm 1cm 0cm 1cm;
    padding: 2%;
    background-color: darkgrey;
}

.n{
    padding: 2px;
    border-radius: 2cm;
    margin-left: 5cm;
}

.n1{
    padding: 0.5cm;
}
.n3
{
    margin-left: 1cm;
    margin-top: 1cm;
}

#Reserved
{
    color:white;
    font-weight: bold;
    background-color: black;
}

#welcome
{
    background-color: transparent;
    margin-left: 4cm;
    margin-right: 15cm;
    margin-top: 1cm;
    padding:1cm;
    border:double;
    border-radius: 1cm;

}
#pic1
{
 margin-top: 0;
    margin-left: 20cm;
transform: rotate(20deg);
}
#pic2
{
margin-left: 5cm;
margin-bottom: 1cm;
}
.quick
{
    background-image: radial-gradient(white,);
    color: black;
    margin:1cm 18cm 0cm 4cm;
    padding: 1cm;
    border-radius: 2cm;
}
h4
{
font-size: xx-large;
font-variant-caps: titling-caps;
background-color: transparent;
}
h1
{
    font-size: large;
    font-weight: bolder;
}